@using MADDPeriodicTable.Models
@model Tuple< UserProgress, UserProfileInfo>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "User Profile";
}

<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="~/Content/UserProfileStyle.css">

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>CustomUserProfile</title>
</head>
<body>
    <a href="~/Home/EditUserProfileInfo">Edit User Profile</a>
    <div id="Profile">
        <div id="UserBio">
            <h2>@User.Identity.GetUserName().Substring(0, User.Identity.GetUserName().LastIndexOf('@'))</h2>
            <img src="@Model.Item2.UserProfileImage" />
        </div>
        <div>
            <h3 align="center"><b><u>Introduction</u></b></h3>
            <h3 id="Introduction" align="center">@Model.Item2.UserBio</h3>

        </div>
        <div id="Progress">
            <h2>Current Progress:</h2>
            <h3>Current Level: @Model.Item1.CurrentLevel</h3>
            <h3>Current Points: @Model.Item1.CurrentPoints</h3>
        </div>

        <div id="BadgesDisplay" align="center">
            <h3 align="center">Badges this user has earned: </h3>
            <table>
                <tr>
                    <th>Badge</th>
                    <th>Complete?</th>
                </tr>
                <tr>
                    <td>Chemist's Explosion badge</td>
                    @if (Model.Item1.ChemistsExplosionBadge == true)
            {
                        <td>User has successfully earned this badge</td>
                    }
                    else
                    {
                        <td>Incomplete</td>
                    }
                </tr>
                <tr>
                    <td>Novice Chemist Badge</td>
                    @if (Model.Item1.NoviceChemistBadge == true)
            {
                        <td>User has successfully earned this badge</td>
                    }
                    else
                    {
                        <td>Incomplete</td>
                    }
                </tr>
                <tr>
                    <td>Chemists Explosion badge</td>
                    @if (Model.Item1.ChemistsExplosionBadge == true)
                    {
                        <td>User has successfully earned this badge</td>
                    }
                    else
                    {
                        <td>Incomplete</td>
                    }
                </tr>
            </table>

        </div>
    </div>
</body>
</html>
